<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" id="loginForm" class="form-horizontal">
    <div class="col-md-8">
        <div class="form-group" [class.has-error]="!email.valid && !email.pristine">
            <div class="col-xs-5">
                <input type="email" class="form-control" autofocus placeholder="Email" formControlName="email" email required>
                <ng2-mdf-validation-message [control]="email" *ngIf="!email.pristine" [class]="'text-danger'"></ng2-mdf-validation-message>
            </div>
        </div>
        <div class="form-group" [class.has-error]="!password.valid && !password.pristine">
            <div class="col-xs-5">
                <input type="password" class="form-control" placeholder="Password" formControlName="password" password required>
                <ng2-mdf-validation-message [control]="password" *ngIf="!password.pristine" [class]="'text-danger'"></ng2-mdf-validation-message>
            </div>
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
        </div>
    </div>
</form>