<!--BEGIN CONTAINER -->
<div class="page-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" id="form" class="form-horizontal">
                    <div class="col-md-8">
                        <div class="form-group" [class.has-error]="!name.valid && !name.pristine">
                            <div class="col-xs-5">
                                <input type="name" class="form-control" autofocus placeholder="name" formControlName="name" name required>
                                <ng2-mdf-validation-message [control]="name" *ngIf="!name.pristine" [class]="'text-danger'"></ng2-mdf-validation-message>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="showBusy" class="list-group">
                    Loading...
                </div>
                <div *ngIf="showBusy == false && total_count == 0" class="list-group">
                    No organizations found.
                </div>
                <div *ngIf="total_count" class="list-group">
                    <div *ngFor="let organization of organizations" class="list-group-item">
                        <div class="row">
                            <div class="col-md-12">
                                {{organization.name}}
                            </div>
                        </div>
                    </div>

                    <div *ngIf="total_count" class="list-group-item text-right">
                        <button *ngIf="page > 1" [disabled]="showBusy" (click)="previousPage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Previous</button>
                        <button *ngIf="total_count && (page + limit <= total_count)" [disabled]="showBusy" (click)="nextPage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTAINER -->